@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Kanit&family=Onest&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(44, 44, 44);
}

nav{
    font-family: 'Kanit', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 50px;
    background-color: rgb(32, 32, 32);
    color: white;
    align-items: center;
    justify-content: space-around;

    animation: slideIn 1s ease-in  ;
}

nav ul li{
    padding: 0 15px;
    cursor:pointer;
}

nav ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

.brand img{
    height: 30px;
    width: 30px;
    margin: 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1rem;
}

.container{
    min-height: 70vh;
    background-color: rgb(59, 59, 59);
    color: whitesmoke;
    font-family: 'Onest', sans-serif;
    display: flex;
    margin: 20px auto;
    width: 95%;
    border-radius: 15px;
    padding: 25px;
    flex-direction: column;
    
    /* background-image: url("https://images.hdqwalls.com/download/anime-girl-with-guitar-watching-the-sunset-4k-fh-1920x1080.jpg"); */

    background-image:
    linear-gradient(black,rgba(66, 54, 54, 0.445)),
    url("https://i.pinimg.com/originals/ee/e0/c1/eee0c1dc806da44930fc6eb26b94a737.gif") ;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0;
    animation: slideDown .7s ease-in 1s forwards;
}

.mainItems{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
}



.bottom{
    position: sticky;
    height: 100px;
    background-color: rgb(26, 26, 26);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideUp 2s ease-in  ;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.icons{
    margin-top:15px;
    
}
.icons i{
    cursor: pointer;
    padding: 0 2px;
}
.songSidePop{
    background-color: rgba(192, 192, 192, 0.26);
    height:25vw;
    width:18vw;
    /* margin-bottom: auto; */
    border-radius: 5px;
    margin: 7vw 5vw; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 10px rgb(146, 145, 145) inset;
    border: solid 2px rgb(212, 210, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    transition: scale .3s ease-in-out;
    scale: 0;
}


.coverImg{
    height: 12vw;
    width: 12vw;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 5px;
    box-shadow: #505050 1px 1px 5px ;
    transition: scale .3s ease-in-out;
}

.songNames{
    font-weight: bold;
    margin-top: .7vw;
    font-size: 1.3vw;
}
.songtext1{
    margin-top: 1vw;
    font-size: 1vw;
}
.songItem {
    height: 40px;
    display: flex;
    background-color: rgba(219, 216, 216, 0.5);
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4 30px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    

    opacity: 1;
    transition: all .3s ease-in ;

    animation: slideIn 1s ease-in 1s ;
    
}

.songItem:hover{
    transform: translateX(15px);
    background-color: rgba(148, 148, 148, 0.616);
}

.songItem img{
    width: 35px;
    margin: 0 10px;
    border-radius: 10px;
}
.timeStamp{
    margin: 0 10px;
    display: inline-block;
}

.timeStamp i{
    padding: 0px 5px;
    cursor: pointer;
}

.songItemConatainer{
    /* margin-top: 70px;  */
    margin: 7vw 5vw; 

}
.songInfo{
    position: absolute;
    left: 10vw;
    color: aliceblue;
    font-family: 'Onest', sans-serif;
    display: flex;
    align-items: center;
    bottom: 2vh;
}
.songInfo span{
    margin-top: 10px;
}

.nowPlaying{
    object-fit: fill;
    width:4vw ;
    height:4vw; 
    margin: 0 10px;
    opacity: 0;
    transition: opacity .4s ease-in;
}
.songName{
    
    font-size: 2vh;
    color: rgb(255, 255, 255);
    
}

.fotterPart{
    font-family: 'Onest', sans-serif;
    display: flex;
    justify-content: right;
    color:azure
}
.fotterPart p{
    padding: 10px;
    font-weight: bold;

    animation: opacityReveal 3s ease-in  ;

}
.songsName{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
@keyframes slideIn{
    from{
        transform: scale(0);
        transform: translateX(-20px);
        opacity: 0;
    }
    to{
        transform: scale(1);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideDown{
    from{
        transform: scale(0);
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: scale(1);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideUp{
    from{
        transform: scale(0);
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: scale(1);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes opacityReveal {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



#songText{
    text-shadow:  1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #505050,
    1px 6px 1px #505050,
    1px 7px 1px #363636,
    1px 8px 1px #363636,
    1px 20px 40px rgba(0, 0, 0, 0.3);

    font-size: 3.5vw;
    font-weight: bold;
    margin-left: 5vw;
}

@media(max-width:1300px){
.container{
    flex-wrap: wrap;
}
}

@media (max-width:635px){
    .songSidePop{
        width: 60vw;
        height: 18vw;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
    }
    .coverImg{
        padding: 0;
        margin: 0;
    }
    .songNames{
        font-size: 2.5vw;
    }
    .songtext1{
        font-size: 2vw

    }
}
